.table-manager {
  width: 100%;

  .products-table {

    // header and columns
    .product-name {
      width: 30%;
      position: relative;

      .sort-desc, .sort-asc {
        position: absolute;
        right: 0px;
        outline-style:none;
        
        &:hover {
          cursor: pointer;
        }
      }

    }

    .brand-name {
      width: 15%;
    }

    .category {
      width: 20%;
    }

    .price {
      width: 7%;
    }

    .msrp {
      width: 7%;
    }

    .ratings {
      width: 13%;
    }

    .table-header {
      background-color: #eee;
      .Product {
      }
    }

    .table-body {

      .product-name {
        .product-name-container {
          display: flex;
          align-items: center;

          .open-in-new {
            position: absolute;
            right: 0px;
          }

          .name-image-container {
            display: flex;
            align-items: center;
            width: 100%;

            span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }

      .no-products-message {
        font-size: 12px;
        color: #aaa;
        text-align: center;
        margin: 20px;
      }
    }
  }

}
