.table-manager {
  width: 100%;

  .count-display {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    padding: 20px;
  }

  .products-table {

    // header and columns
    .product-name {
      width: 33%;
      position: relative;

      .sort-desc, .sort-asc {
        position: absolute;
        right: 0px;
        outline-style:none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .brand-name {
      width: 20%;

      .brand-name-container {
        display: flex;
        flex-direction: column;
      }
    }

    .category {
      width: 20%;
    }

    .price {
      width: 7%;
    }

    .msrp {
      width: 7%;
    }

    .ratings {
      width: 13%;
    }

    .table-header {
      background-color: #eee;
      .Product {
      }
    }

    .table-body {

      .no-products-message {
        font-size: 12px;
        margin: 20px;
      }

      .product-name {
        .product-name-container {
          display: flex;
          align-items: center;

          .open-in-new {
            position: absolute;
            right: 0px;
          }

          .name-image-container {
            display: flex;
            align-items: center;
            width: 100%;

            img {
              width: 20%;
            }

            span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

}
